.starter-template {
  padding: 90px 15px;
  /* text-align: center; */
}
body{
  padding-top: 100px;
  padding-bottom: 40px;
  background-color: #eee;
}
#dashboard .row{
	padding:30px;
    color:rgb(45,42,43);
}
#toDoList{
    background-color:rgb(246,122,70);

}
