body#dashboard{
  padding-top: 51px;
  padding-bottom: 0px;
  background-color: #eee;
  font-family:'CreteRound-Regular';
}
.container{
    width:100%;
}
#rowContainer{
    padding:0;
    margin:0;
}
.navbar{
    width:1024px;
    margin:0 auto;
}
#dashboard .row{
    color:rgb(45,42,43);
    padding:0;
    border:none;
    width:1024px;
    margin:0 auto;
    border-radius:0;
}

.row#wrapper{
    width:100%;
    height:100%;
    background-color:rgb(246,122,70);
}
#toDoListContainer{
    background-color:rgb(246,122,70);
    height:100%;
}
#activityFeedContainer{
    background-color:#eee;
    height:100%;
}
#profileHeader{
    background-color:rgb(128,128,128);
    padding:1em;
}
#navbar{
    float: left;
    background-color: #162127;
    height: 51px;
    position: absolute;
    top: 0;
}
#bottomnavbar{
    float: left;
    background-color: #162127;
    position: fixed;
    bottom: 0;
    height:100px;
}
.media{
    margin:0 auto;
}
#profileHeader .media{
    width:1024px;
}
.sidefiller{
    height:100%;
    width:10.15%;
    float:left;
    background-color:#eee;
}
.navbar-fixed-bottom{
    height:100px;
}

.navbar-header { background-color: #162127;}
.navbar-nav#back{
	margin-right:10px;
}
.navbar-inverse {
  font-family: 'CreteRound-Regular', serif;
  background-color: #162127;
}
.navbar-brand {
    font-size: 26px;
}
.media-object{
    border-radius:50px;
    background-color:white;
    height:50px;
    width:50px;
    float:left;
    margin: 20px 0;
}
.media-body{
    margin:20px 50px;
}
#profileHeader .media-heading{
    color:white;
}
.fa-media-object{
    height:50px;
    width:50px;
    float:left;
    margin: 30px 20px;
    color:rgb(142,69,37);
}
.btn-brown{
    color:white;
    background-color:rgb(142,69,37);
}
.btn-square{
    border-radius:0;
    border-color:rgb(142,69,37);
    margin:.5em;
}
textarea.form-control{
   background-color:rgb(243,169,134); 
   border-color:rgb(243,169,134);
   margin:.5em;
}
.media-heading-bold{
    font-weight:bold;
}
#toDoList div.container,#activityFeed div.container{
    border-top:solid;
    border-width:.1em;
}
.toDoDate{
    color:rgb(142,69,37);
}
.activityFeedDate{
    color:#333;
    opacity:.8;
}



@font-face {
  font-family: 'CreteRound-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('CreteRound-Regular'), local('CreteRound-Regular'), url(/fonts/CreteRound-Regular.woff) format('woff');
}
#wrapper{
    margin:0 auto;
    height:100%;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'CreteRound-Regular';
}
