
<html lang="en">
    <head>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
     <script src='/static/js/preloader.js'></script>
     <script src='/static/js/toggle.js'></script>
     <script src='/static/js/functionHolder2.js'></script>
    </head>

 <!--[if lt IE 7 ]><body class="ie ie6" lang="en" id="newGoalPage"> <![endif]-->
<!--[if IE 7 ]><body class="ie ie7" lang="en" id="newGoalPage"> <![endif]-->
<!--[if IE 8 ]><body class="ie ie8" lang="en" id="newGoalPage"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><body lang="en" id="goalTree"> <!--<![endif]-->
    <div class='container' id='navbar'></div>

    <div class='wrapper' id='goalsbar'>
        <div class="buttonWrapper">
            <a href="/goals">
                <div class="goalsButton">
                    <h3 class="goalsTitle"><i class="fa fa-chevron-left"></i>Back to My Goals</h3>
                </div>
            </a>
            <a href="/newgoal">
                <div class="goalsCreate">
                    <i class="fa fa-plus-circle"></i><p class="createLabel">Create New Goal</p>
                </div>
            </a>
        </div>
    </div>

	<div class='mainWrapper'>
        <div class='goalContainer'>

            <div class='lineDiv'></div>
            <div class='mainGoal'>    
                <div class='checkboxBox'>
                    <div class='checkboxSide'>
                        <i class='fa fa-square fa-4x'></i>
                    </div>
                </div>

                <div class='functionBox'>
                    <div class='functionSide'>
                        <i class='fa fa-user fa-lg'></i>
                        <i class='fa fa-pencil fa-lg'></i>
                        <i class='fa fa-trash-o fa-lg'></i>
                    </div>
                </div>
                <div class='goalBox'>
                   <h2 id='goalEnd'></h2> 
                   <h1>{{ goal.name }}</h1> 
                   <p>{{ goal.desc }}</p>
                   <div id='pictureBox'>
                    <div id='gt-users-100'></div>
                    <div id='plus'>
                        <i class='fa fa-plus fa-lg'></i>
                    </div>
                    <div id='gt-users-100'></div>            
                   </div>   
                </div> 
            </div>

			<button class='btn btn-default' id="add-task" data-toggle='modal' data-target='#myModal'>Add Task</button>
            
            <div class='task'>    

                {% for task in goal.tasks %}
                <div id='task-checkboxBox'>
                    <div class='checkboxSide'>
                        <i class='fa fa-square fa-4x'></i>
                    </div>
                </div>
                <div id="task-box-wrapper">
                    <div class='leftBox'>
                        <div id='task-functionBox'>
                            <div class='functionSide'>
                                <a href="#"><i class='fa fa-pencil fa-lg'></i></a>
                                <a href="#"><i class='fa fa-trash-o fa-lg'></i></a>
                            </div>
                        </div>
                        <div class='goalBox'>
                           <h4>Task {{ loop.index }} | {{ task.duedate }}</h4> 
                           <h3>{{ task.name }}</h3> 
                           <p>{{ task.description }}</p>
                           
                           <i id="unread-icon" class="fa fa-comments"></i><a href="#task-box-wrapper" class="unread">{{ task.comments|length }} comment(s)</a>
                           <div id="comments">
                                {% for comment in task.comments %}
                           		<img class="comment-pic"></img>
                                <div class="comment-body"><h5>{{comment.person}}</h5><p>{{comment.text}}</p></div>
                                {% endfor %}
                     		</div>
          
                        </div> 
                    </div>
                    <div class='rightBox'>
                        <p>{{ task.completed|length }} people completed this task</p>
                        <img class="ppl-complete">
                        <img class="ppl-complete">
                    </div>
                </div>
                <br>
                {% endfor %}
	    	</div>
            
            <!-- -->
         
            <!-- -->
        
        
            
            	<div class="shape-container">
               		<div class="rect">Today | {{ today }}</div><div class="triangle-right"></div>
               </div>

        </div> 

    </div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a new task</h4>
      </div>
      <div class="modal-body">
			<div class='newTaskWrap'>
				
					<input type="text" label="newTaskTitle1" placeholder="Task 1 Title" name="5Task1">
					</input>
					<input type="text" label="newTaskDescription1" placeholder="Task Description" name="6Task1Desc">
					</input>
					<em>Due Date </em><input type="date" label="newTaskEnd1" class="small" placeholder="Due Date" name="7DueDate1">
					</input>
				<!-- </form> -->
			</div>  <!-- end newTaskWrap -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
        <button type="button" class="btn btn-primary" id="addtask">Add Task</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->




    <!-- End Document
================================================== -->
</body>
<script>
    //hacky workaround to format date string to date object and then to the proper format
    format = d3.time.format('%Y-%m-%d');
    console.log({{ goal.tasks|tojson|safe }});
    $('#goalEnd').html(format(new Date({{ goal.end|tojson|safe }})));
    
    $('#addtask-btn').on('click', function(){
        console.log('click');
        
    })

    $('#addtask').on('click', function(){
        tasks = 1; //in this case we only add one...
        format = d3.time.format('%Y-%m-%d')
        taskArr = {};
        for (i = 1; i <= tasks; i++){
             taskDict = {}
             taskDict['title'] = $('input[label=newTaskTitle' + i + ']').val();
             taskDict['description'] = $('input[label=newTaskDescription' + i + ']').val();
             taskDict['end'] = format.parse($('input[label=newTaskEnd' + i + ']').val());
             taskArr['task' + i] = taskDict;
            console.log(JSON.stringify(taskArr))
        }
        taskStr = JSON.stringify(taskArr)
        url = '/addtask/' + {{ goal.name|tojson|safe }} + '/' + taskDict['end'] + '/' + taskDict['title'] + '/' + taskDict['description'];
        console.log(url);
        $.get(url);
        alert("Task Added!");
    })
</script>
</html>
